/* Product Page Styles */

/* section#products {

} */

article.card {
    display: inline-block;
    background: #E5F5F9;
    color: #333132;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

article.card h1, article.card h2 {
    color: #333132;
} 