#home {

}

#home section {
    display: block;
}

/** Hero Section **/

#home section#hero {

}

#home section#hero article {
    display: inline-block;
    width: 50%;
}

#home section#hero img {
    display: inline-block;
}



