.left {
    float: left;
    width: 50%
}

.right {
    float: right;
    width: 50%;
}

section.title {

}

section.title h1 {

}

section.about {

}

section.about img {

}

section.about article {

}

section.about h3 {

}

section.about p {

}

