.left {
    float: left;
    width: 50%
}

.right {
    float: right;
    width: 50%;
}

section.title {

}

section.title h1 {

}

section.about {

}

section.team {
    background-color: #ABEBFF ;
    color: #333132;
}

section.team h1, 
section.team h2, 
section.team h3 {
    color: #333132;
}

section.team h3 {
    margin: 0 0 25px;
}

section.team img {
    max-height: 150px;
    margin-right: 25px;
    border-radius: 50%;
    background-color: white;
}

