section#company {
    background-image: url("/images/hero2.png");
}

section#company div#desc {
    padding: 20px;
    background-color: rgba(171,235,255,0.4);
    border-radius: 10px;
    margin-bottom: 100px;
    width: 80%;
}

section#company img {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 250px;
}

section.team {
    background-color: #ABEBFF ;
    color: #333132;
}

section.team h1, 
section.team h2, 
section.team h3 {
    color: #333132;
}

section.team h3 {
    margin: 0 0 25px;
}

section.team img {
    max-height: 150px;
    margin-right: 25px;
    border-radius: 50%;
    background-color: white;
    margin-left: 50px;
}

section.team:last-child {
    padding-bottom: 100px;
}

