/** Featured Apps **/

div.featured {
    display: inline-block;
    background: aliceblue;
    color: #333132;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 25%;
}

div.featured h3 {
    color: #333132;
    font-family: 'Arvo', serif;
}